<section data-ng-controller="MySqlTestController">

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        {{helloText}}
                    </h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Mysqluser.testadm.players Table</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat = "resource in mysqltest">
                                  <td>{{resource.id}}</td>
                                  <td>{{resource.name}}</td>
                                  <td>{{resource.score}}</td>
                              </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
