<section>
<div data-ng-controller="ProjectController">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
        <div class="col-lg-3">
           <div class="form-group">
            <span class="label label-primary pull-left">Projects</span>     
	<select class="form-control" placeholder="Projects" ng-change="onChange()" ng-model="filter.Name" ng-options="project.PROJECT for project in Projects">
           <option value="">CENTERPOINT:SAP CORE SUPPORT</option>
            </select>
        </div>
        </div>
              
        <div class="col-lg-2">
           <span class="label label-primary pull-left">Start Date</span>      
            <div class="form-group">
            <input type="date" id="dateFrom" name="input" class="form-control" ng-change="onChange()" ng-model="filter.value1" min="2014-01-01" max="2016-12-31" required />
            </div>
        </div>
        <div class="col-lg-2" >
            <span class="label label-primary pull-left">End Date</span>      
            <div class="form-group">
            <input type="date" id="dateTo" name="input" class="form-control" ng-change="onChange()" ng-model="filter.value2" min="{{filter.value1}}" max="2016-12-31" required />
            </div>
        </div>
              <div class="col-lg-3" ng-repeat="data in progress">
            <div class="col-xs-12 text-center">
                <span class="label label-primary pull-left">SOW Value</span><br>      
                   <progressbar animate="true" value="50" type="danger" class="progress-striped active"><b>${{data.DOLLARS_SPENT}}</b>
        </progressbar>
        </div>
            
        </div> 
        <div class="col-lg-2">
            <h4>Data Last Updated</h4>
            <small><b>{{date | date:'dd/MM/yyyy hh:mm:ss a'}}</b></small> 
        </div>
    </div>
    </div>   
</div>
<div>  
<div class="row">   
<div class="col-lg-12">
    <div class="col-lg-3"ng-repeat="list in Resources">
    <div class="widget style1 lazur-bg" >
            <div class="row">
                <!--<div class="col-xs-4 text-center">
                    <i class="fa fa-trophy fa-5x"></i>
                </div>-->
                <div class="col-xs-12 text-center">
                    <span><b> <strong>Active Resources</strong></b> </span>
                    <hr>
                    <h2 class="font-bold">{{list.CNT_RESOUCRCES}}</h2>
                </div>
            </div>
        </div>    
    </div> 
    <div class="col-lg-3" ng-repeat="list in Resources">
    <div class="widget style1 lazur-bg" >
            <div class="row">
                <!--<div class="col-xs-4 text-center">
                    <i class="fa fa-trophy fa-5x"></i>
                </div>-->
                <div class="col-xs-12 text-center">
                    <span> <b> <strong>Total Hours Billed</strong></b> </span>
                    <hr>
                    <h2 class="font-bold">{{list.TOT_BILLABLE_HOURS}}</h2>
                </div>
            </div>
        </div>      
    </div> 
    <div class="col-lg-3"ng-repeat="list in Resources">
    <div class="widget style1 lazur-bg" >
            <div class="row">
                <!--<div class="col-xs-4 text-center">
                    <i class="fa fa-trophy fa-5x"></i>
                </div>-->
                <div class="col-xs-12 text-center">
                    <span><b> <strong> Total Amount Billed</strong></b> </span>
                    <hr>    
                    <h2 class="font-bold">${{list.TOTAL_AMOUNT_BILLED}}</h2>
                </div>
            </div>
        </div>      
    </div> 
    
    <div class="col-lg-3 text-center" ng-repeat="list in overUtil">
    <div class="widget style1 red-bg" >
        <span><b> <strong> Over Utilized Resources</strong></b> </span>
                            <hr>    
                            <div class="row">
                            <div class="col-md-6">
                                <h4 class="no-margins">{{list.CNT_OVERUTILIZED_RESOURCES}} resources</h4>
                             </div>
                            <div class="col-md-6">
                                <h4 class="no-margins">{{list.TOTAL_HOURS_BILLED}}/{{list.TOTAL_HOURS_CAPACITY}}h capacity</h4>
                            </div>
                            </div>
        </div>      
    </div> 
</div>    
</div>
<!--<div class="col-lg-12">
<div class="flot-chart">
    <div flot class="flot-chart-content" dataset="flotData" options="flotOptions" responsive ></div>
</div>
</div> -->
<div class="row">
<div class="col-lg-6 text-center">
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Practice</th>
        <th>Title</th>
        <th>Staff</th>
        <th>Billable Hours</th>
        <th>Max Working Hours</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat = "resource in proTable">
        <td>{{resource.PRACTICE}}</td>
        <td>{{resource.TITLE}}</td>
        <td>{{resource.STAFF_MEMBER}}</td>
        <td>{{resource.BILLABLE_HOURS}}</td>
        <td>{{resource.MAX_WORKING_HOURS}}</td>
        </tr>
    </tbody>
    </table>
</div>    
</div>
<div class="col-lg-6 text-center">
<!--<h1>Graph</h1>   -->
          <!--  <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Billable hours
                        <small>with respect to dates</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">-->
                    <!--<div class="flot-chart">
                        <div flot class="flot-chart-content" dataset="flotChartData1" options="flotBarOptions1"></div>
                    </div>-->
                    <canvas id="myChart" class="col-lg-12" responsive=true ></canvas>
              <!--  </div>
            </div>-->
 
</div>    
</div>
</div>
</div>  
</section>


    


                        
