
<section data-ng-controller="ProjectController">

    <div class="wrapper wrapper-content" data-ng-controller="ProjectController">
        <div class="row">
            <div class="col-sm-2">
             <div class="form-group">
                <select name="project" id="project" class="form-control">
                   <option value="">---Project---</option>
                    <option value="0">Project1</option>
                    <option value="1">Project2</option>
                    <option value="2">Project3</option>
                </select>                 
            </div>
           </div>
            <div class='col-sm-2'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
            <div class='col-sm-2'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
            <div class="col-lg-3">
             <div class="ibox float-e-margins">
                    <div class="ibox-title">
                       <!-- <span class="label label-primary pull-right">Today</span>-->
                        <h6>Progress Bar for SOW Values</h6>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="no-margins">$50,000</h4>
                             </div>
                            <div class="col-md-6">
                                <h4 class="no-margins">$100,0000</h4>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
            <div class="col-lg-3">
             <div class="ibox float-e-margins">
                    <div class="ibox-title">
                       <!-- <span class="label label-primary pull-right">Today</span>-->
                        <h6>Date Last Updated</h6>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="no-margins">1/1/2006</h4>
                             </div>
                            <div class="col-md-6">
                                <h4 class="no-margins">10:53 AM</h4>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Active</span>
                        <h6>Resources</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">5</h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">All time</span>
                        <h6>Resources</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">9</h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Part time</span>
                        <h6>Resources</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">2</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right"></span>
                       
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"></h1>
                    </div>
                </div>
            </div>
           <div class="col-lg-3">
             <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right"></span>
                        <h6>Over Utilized Resources</h6>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="no-margins">2 resources</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 class="no-margins">200h/160h capacity</h4>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
        <div class="row">
         <div class="col-lg-6">
                <div class="table-responsive">
                            <table class="table table-striped">

                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Master project</td>
                                    <td>Patrick Smith</td>
                                    <td>$892,074</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><strong>20%</strong></td>
                                    <td>Jul 14, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Alpha project</td>
                                    <td>Alice Jackson</td>
                                    <td>$963,486</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><strong>40%</strong></td>
                                    <td>Jul 16, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Betha project</td>
                                    <td>John Smith</td>
                                    <td>$996,824</td>
                                    <td>Erat Volutpat</td>
                                    <td><strong>75%</strong></td>
                                    <td>Jul 18, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>$105,192</td>
                                    <td>Tellus Ltd</td>
                                    <td><strong>18%</strong></td>
                                    <td>Jul 22, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Alpha project</td>
                                    <td>Alice Jackson</td>
                                    <td>$674,803</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><strong>40%</strong></td>
                                    <td>Jul 16, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Master project</td>
                                    <td>Patrick Smith</td>
                                    <td>$174,729</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><strong>20%</strong></td>
                                    <td>Jul 14, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>$823,198</td>
                                    <td>Tellus Ltd</td>
                                    <td><strong>18%</strong></td>
                                    <td>Jul 22, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Project <small>This is example of project</small></td>
                                    <td>Patrick Smith</td>
                                    <td>$778,696</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><strong>20%</strong></td>
                                    <td>Jul 14, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Alpha project</td>
                                    <td>Alice Jackson</td>
                                    <td>$861,063</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><strong>40%</strong></td>
                                    <td>Jul 16, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Betha project</td>
                                    <td>John Smith</td>
                                    <td>$109,125</td>
                                    <td>Erat Volutpat</td>
                                    <td><strong>75%</strong></td>
                                    <td>Jul 18, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>$600,978</td>
                                    <td>Tellus Ltd</td>
                                    <td><strong>18%</strong></td>
                                    <td>Jul 22, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Alpha project</td>
                                    <td>Alice Jackson</td>
                                    <td>$150,161</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><strong>40%</strong></td>
                                    <td>Jul 16, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Project <small>This is example of project</small></td>
                                    <td>Patrick Smith</td>
                                    <td>$160,586</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><strong>20%</strong></td>
                                    <td>Jul 14, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>$110,612</td>
                                    <td>Tellus Ltd</td>
                                    <td><strong>18%</strong></td>
                                    <td>Jul 22, 2015</td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
            </div>
         <div class="col-lg-6">   
         <div class="ibox float-e-margins">
                    <div class="ibox-title">
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="myBarChart" height="200" responsive=true width="400"></canvas>
                        </div>
                    </div>
            </div> 
         </div>         
        </div>
        
    </div>