
<section data-ng-controller="ProjectController">

    <div class="wrapper wrapper-content" data-ng-controller="ProjectController">
        <div class="row">
            <div class="col-sm-2">
             <div class="form-group">
                <select name="project" id="project" class="form-control">
                   <option value="">---Project---</option>
                    <option value="0">Project1</option>
                    <option value="1">Project2</option>
                    <option value="2">Project3</option>
                </select>                 
            </div>
           </div>
            <div class='col-sm-2'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
            <div class='col-sm-2'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
            <div class="col-lg-3">
             <div class="ibox float-e-margins">
                    <div class="ibox-title">
                       <!-- <span class="label label-primary pull-right">Today</span>-->
                        <h6>Progress Bar for SOW Values</h6>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="no-margins">$50,000</h4>
                             </div>
                            <div class="col-md-6">
                                <h4 class="no-margins">$100,0000</h4>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
            <div class="col-lg-3">
             <div class="ibox float-e-margins">
                    <div class="ibox-title">
                       <!-- <span class="label label-primary pull-right">Today</span>-->
                        <h6>Date Last Updated</h6>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="no-margins">1/1/2006</h4>
                             </div>
                            <div class="col-md-6">
                                <h4 class="no-margins">10:53 AM</h4>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Active</span>
                        <h6>Utilization</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">5</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">All time</span>
                        <h6>Resources</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">9</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Part time</span>
                        <h6>Resources</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">2</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                </div>
            </div>
        </div>
    </div>