<section data-ng-controller="UtilizationController">
       <div class="wrapper wrapper-content" data-ng-controller="UtilizationController">
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                           <h6>Utilization Dashboard</h6>
                    </div>
                </div>
             </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                     <div class="ibox-title">
                        <h6>Filter Practice</h6>
                    </div>
                </div>    
             </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                     <div class="ibox-title">
                        <h6>Filter Date From</h6>
                    </div>
                </div>    
             </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                     <div class="ibox-title">
                        <h6>Filter Date To</h6>
                    </div>
                </div>    
             </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                     <div class="ibox-title">
                        <h6>Filter Location</h6>
                    </div>
                </div>    
             </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                     <div class="ibox-title">
                        <h6>Date Last Updated- 01/01/2016</h6>
                    </div>
                </div>    
             </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Last Week</span>
                        <h6>Utilization</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">99%</h1>

                       <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>-->
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right"></span>
                        <h6>Overbooked Resources</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">3</h1>

                    <!--    <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>-->
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <!--<div class="ibox-title">
                        <span class="label label-primary pull-right"></span>
                        <canvas polarchart options="UtilizationController.polarOptions" data="UtilizationController.polarData">                         </canvas>
                    <h6>last 5 weeks</h6>
                    </div>-->
                    <div class="ibox-content">
                        <canvas id="myPolarChart" width="100" height="100"></canvas>
                       <!-- <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>-->
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
             <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Today</span>
                        <h6>Non-Billable Activities</h6>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="no-margins">5 resources</h4>
                               <!-- <div class="font-bold text-navy">44% <i class="fa fa-level-up"></i> <small>Rapid pace</small></div>-->
                            </div>
                            <div class="col-md-6">
                                <h4 class="no-margins">120 hour total</h4>
                               <!-- <div class="font-bold text-navy">22% <i class="fa fa-level-up"></i> <small>Slow pace</small></div>-->
                            </div>
                        </div>
                    </div>
            </div>
        </div>
            <div class="col-lg-3">
             <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Today</span>
                        <h6>Over Utilized Resources</h6>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="no-margins">4 resources</h4>
                               <!-- <div class="font-bold text-navy">44% <i class="fa fa-level-up"></i> <small>Rapid pace</small></div>-->
                            </div>
                            <div class="col-md-6">
                                <h4 class="no-margins">200h/160h capacity</h4>
                               <!-- <div class="font-bold text-navy">22% <i class="fa fa-level-up"></i> <small>Slow pace</small></div>-->
                            </div>
                        </div>
                    </div>
            </div>
</div>
            
        </div> 
        <div class="row">
        <div class="col-lg-6">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start week</th>
                                <th>End week</th>
                                <th>Week no</th>
                                <th>Week no</th>
                                <th>Year</th>
                                <th>Practice</th>
                                <th>Staff</th>
                                <th>Total Hours</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat = "resource in utilization">
                                  <td>{{resource.NAME}}</td>
                                  <td>{{resource.START_WEEK}}</td>
                                  <td>{{resource.END_WEEK}}</td>
                                  <td>{{resource.WEEK_NO}}</td>
                                  <td>{{resource.DIM_YEAR}}</td>
                                  <td>{{resource.PRACTICE}}</td>
                                  <td>{{resource.STAFF_MEMBER}}</td>
                                  <td>{{resource.TOTAL_HOURS}}</td>
                                  
                              </tr>
                            </tbody>
                        </table>

                    </div>
                 </div>
    <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Graphical Representation</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div>
                       <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
             
</div>
     </div>