<section data-ng-controller="UtilizationController">
       <div data-ng-controller="UtilizationController">
        <div class="col-lg-12">
    <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
        <div class="col-lg-3">
           <div class="form-group">
            <span class="label label-primary pull-left">Practice</span>     
            <select class="form-control" placeholder="Projects" ng-change="" ng-model="selectedProject" ng-options="project.Name for project in Projects">
            <option value="">- Select Project -</option>
            </select>
        </div>
        </div>
        <div class="col-lg-2">
           <span class="label label-primary pull-left">Start Date</span>      
            <div class="form-group">
            <input type="date" id="dateFrom" name="input" class="form-control" ng-change="" ng-model="example.value1" placeholder="" min="2015-01-01" max="2016-12-31" required />
            </div>
        </div>
        <div class="col-lg-2">
            <span class="label label-primary pull-left">End Date</span>      
            <div class="form-group">
            <input type="date" id="dateTo" name="input" class="form-control" ng-change="" ng-model="example.value1" placeholder="" min="2015-01-01" max="2016-12-31" required />
            </div>
        </div>
        <div class="col-lg-3">
           <div class="form-group">
            <span class="label label-primary pull-left">Location</span>     
            <select class="form-control" placeholder="Projects" ng-change="" ng-model="selectedProject" ng-options="project.Name for project in Projects">
            <option value="">- Select Location -</option>
            </select>
        </div>
        </div> 
        <div class="col-lg-2">
            <h4>Date Last Updated</h4>
            <small >01/01/2016 10:53 AM</small> 
        </div>
    </div>
    </div>  
            </div>      
            <div class="row">   
    <div class="col-lg-2">
    <div class="widget style1 yellow-bg" >
            <div class="row">
                <div class="col-xs-12 text-center">
                    <span>Last week utilization</span>
                    <hr>
                    <h2 class="font-bold">99%</h2>
                </div>
            </div>
        </div>    
    </div> 
    <div class="col-lg-2">
    <div class="widget style1 yellow-bg" >
            <div class="row">
                <div class="col-xs-12 text-center">
                    <span> US/Non US Utilization</span>
                    <hr>
                    <h2 class="font-bold">99%</h2>
                </div>
            </div>
        </div>      
    </div> 
    <div class="col-lg-2">
    <div class="widget style1 yellow-bg" >
            <div class="row">
                <div class="col-xs-12 text-center">
                    <span>Overbooked Resources</span>
                    <hr>    
                    <h2 class="font-bold">3</h2>
                </div>
            </div>
        </div>      
    </div> 
    
    <div class="col-lg-3 text-center">
    <div class="widget style1 navy-bg" >
                        <span>Non Billable Activities</span>
                            <hr>    
                            <div class="row">
                            <div class="col-md-6">
                                <h4 class="no-margins">5 resources</h4>
                             </div>
                            <div class="col-md-6">
                                <h4 class="no-margins">120hr total</h4>
                            </div>
                            </div>
        <br>
        <br>
        </div>      
    </div> 
    <div class="col-lg-3 text-center">
    <div class="widget style1 navy-bg" >
                        <span>Over utilized resources</span>
                            <hr>    
                            <div class="row">
                            <div class="col-md-6">
                                <h4 class="no-margins">4 resources</h4>
                             </div>
                            <div class="col-md-6">
                                <h4 class="no-margins">200/160h capacity</h4>
                            </div>
                            </div>
        <br>
        </div>      
    </div> 
</div>
</div>
        <hr>    
        <div class="row">
        <div class="col-lg-6">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>TITLE</th>
                                <th>STAFF_MEMBER</th>
                                <th>BILLABLE_UTILIZATION</th>
                                <th>PRD_DEV_UTILIZATION</th>
                                <th>TOTAL_UTILIZATION</th>
                             
                                
                            </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat = "resource in utilization">
                                  <td>{{resource.TITLE}}</td>
                                  <td>{{resource.STAFF_MEMBER}}</td>
                                  <td>{{resource.BILLABLE_UTILIZATION}}</td>
                                  <td>{{resource.PRD_DEV_UTILIZATION}}</td>
                                  <td>{{resource.TOTAL_UTILIZATION}}</td>
                                                                  
                              </tr>
                            </tbody>
                        </table>

                    </div>
                 </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Graphical Representation</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div>
                       <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
             
</div>
     </div>
