<section data-ng-controller="UtilizationController">

    <div class="wrapper wrapper-content" data-ng-controller="UtilizationController">
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                        <h5>Utilization Dashboard</h5>
                </div>
             </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                        <h5>Filter Prctice</h5>
                </div>
             </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                        <h5>Filter Date From</h5>
                </div>
             </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                        <h5>Filter Date To</h5>
                </div>
             </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                        <h5>Filter Location</h5>
                </div>
             </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                        <h5>Date Last Updated- 01/01/2016</h5>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right"></span>
                        <h5>Last Week Utilization</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">99%</h1>

                       <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>-->
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right"></span>
                        <h5>Last Week US & Non US utilization</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">99%</h1>

                    <!--    <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>-->
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right"></span>
                        <h5>Resources booking time more than 1 project</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">3</h1>

                       <!-- <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>-->
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right"></span>
                        <h5>Small trending chart for last 5 weeks</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"></h1>

                        <!--<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>-->
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">5 resources</span>
                        <h5>Non-Billable Activities</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"></h1>

                        <!--<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>-->
                        <small>120h total</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">4 resources</span>
                        <h5>Over utilized resources</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"></h1>

                        <!--<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>-->
                        <small>200h/160h capacity</small>
                    </div>
                </div>
            </div>
        </div>       
     </div>